#content {
    margin-left: 200px;
    max-width: 1100px;
}

#sidebar {
    left: 200px;
    width: 200px;
}


@media screen and (max-width: 768px){
    #content {
      margin-left: 0px;
    }
    
    #sidebar {
        left: -200px;
        width: 200px;
    }
    #postamble {
      left: -200px;
    }
    
    #content.shift{
        left: 50%;
     }    
    #content.shift #sidebar {
      width: 50%;
    }
    #postamble.shift {
      width: 50%;
    }

}

@media screen and (min-width: 768px){
    #postamble {
      left:0;
      width: 200px;
    }
    #sidebar {
        left: 0;
        width: 200px;
    }
}

div.col-md-12 .pull-right {
  float: left !important;
  margin-left: 20px;
}

h1,h2,h3,h4,h5,h6,legend{
    font-family:"Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    font-weight:700;
    /*color: #404040;*/
    color: #662700;
}

#sidebar {
  background: #30190C;
}

#sidebar h2 {
    background-color: #593112;
}

footer{
    color:#FFF;
}

#postamble{
  border-top: #3E210E;
  background: #3E210E;
}
    
    